[Unit]
Description=gunicorn daemon for benroesler django site
Requires=benroesler.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/benroesler/
ExecStart=/bin/gunicorn \
          --workers 1 \
          --bind unix:/run/benroesler.sock \
          benroesler.wsgi:application

[Install]
WantedBy=multi-user.target
