{% extends "landing/base.html" %}

    {% block content %}
<html>
    <body>
        <div class="jumbotron-fluid bg-transparent text-center perfect-centering">
        {% include "landing/elephant.html" %}
        <br>
        <div>
            <h1>{{name}}</h1>
            <div class="green"> {{subtitle}} </div>
            <a class="mango" href="mailto:{{email}}"> Email: {{email}} </a> <a class="blue" href="{{pgpURL}}"> PGP</a>
            <br>
            <a class="mango" href="tel:{{phone}}"> Phone: {{phone}} </a>
            <br>
            <a href="https://github.com/ElephasMax"><i class="fa-brands fa-github fa-xl"></i>
            <a href="https://www.linkedin.com/in/bennyroesler/"><i class="fa-brands fa-linkedin fa-xl"></i>
            <a href="https://twitter.com/0xElephas"><i class="fa-brands fa-twitter fa-xl"></i>
            <a href="https://0xelephas.medium.com/"><i class="fa-brands fa-medium fa-xl"></i>
                </div> 
        <br>
        <div class="jumbotron-fluid bg-transparent">
            {% for dict in core %}
                {% for x in dict.items %}
                    <a class="purple" href="{{x.0}}">{{x.1}}</a>
                {% endfor %}
                {% if not forloop.last %}
                    <em class="blue">//</em>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </body>
</html>
{% endblock content %}